<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pinner</title>
  <link rel="icon" type="image/x-icon" href="/map-pin.svg" />
  <link rel="stylesheet" href="/styles.css" />
  <script src="/feather.min.js"></script>
</head>
