<table class="table table-hover table-striped">
  <thead>
    <tr>
      <% columns.forEach(column => { %>
      <th scope="col"><%= column.heading %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(item => { %>
    <tr>
      <% columns.forEach(column => { %>
        <td>
          <% if (column.url) { %>
            <a href="<%= `${column.url}/${item.link}` %>" class="btn btn-sm btn-primary d-inline-flex align-items-center"><span data-feather="eye" class="me-2"></span>View</a>
          <% } else { %>
            <%= item[column.value] %>
          <% } %>
        </td>
      <% }) %>
    </tr>
    <% }) %>
  </tbody>
</table>
