<%- include('partials/header'); %>

<h4>Your Pins</h4>
<%- include('partials/table', {data: {header: ['Title', 'Description', 'Creator', 'Link'], body:  pins}}); %>

<%- include('partials/footer'); %>
