<%- include('partials/header'); -%>

<form class="w-25 mx-auto">
  <h2>Sign up</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input
      type="text"
      name="email"
      class="form-control"
      placeholder="john.doe@example.com"
    />
    <div class="email error"></div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required />
    <div class="password error"></div>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" placeholder="John" />
    <div class="name error"></div>
  </div>

  <div class="mb-3">
    <label for="surname" class="form-label">Surname</label>
    <input type="text" name="surname" class="form-control" placeholder="Doe" />
    <div class="surname error"></div>
  </div>

  <button class="btn btn-primary">Sign up</button>
</form>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    const email = form.email.value;
    const password = form.password.value;
    const name = form.name.value;
    const surname = form.surname.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ email, password, name, surname }),
        headers: {
          'Content-Type': 'application/json',
        },
      });

      const data = await res.json();

      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }

      if (data.user) {
        location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('partials/footer'); -%>
